*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    border-bottom: solid;
    border-width: 3px;
    justify-content: end;
    background-color: rgb(156, 41, 41);
}

body{
     background-color:blanchedalmond;
}

footer{
    text-align: center;
    max-width: 100%;
    border-top: solid;
    border-width: 3px;
    margin-top: 7rem;
    background-color: rgb(156, 41, 41);
    color: white;
    border-color: black;
}

.description{
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
    max-width: 60%;
}

.description,
nav,
footer,
.pic-info,
.about-us,
.group-members{
    font-size: 20px;
}

.thumbnail{
    margin: 5px;
}

.pic-info{
    text-align: center;
    margin-top: 3rem;
}

.about-us{
    text-align: center;
    max-width: 70%;
    margin: auto;
}

.group-members{
    text-align: center;
}

.pic-large{
    border:ridge;
    border-width: 20px;
    border-color: rgb(99, 18, 18); 
}