nav{
    border-bottom: solid;
    border-width: 1px;
    justify-content: end;
    background-color: rgb(156, 41, 41);
}

body{
     background-color:blanchedalmond;
}

footer{
    text-align: center;
    max-width: 100%;
    border-top: solid;
    border-width: 1px;
    margin-top: 7rem;
    background-color: rgb(156, 41, 41);
    color: white;
}

.description{
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
    max-width: 50%;
}

.description,
nav,
footer,
.pic-info,
.about-us,
.group-members{
    font-size: 20px;
}

.thumbnail{
    margin: 5px;
}

.pic-info{
    text-align: center;
    margin-top: 3rem;
}

.about-us{
    text-align: center;
    max-width: 70%;
    margin: auto;
}

.group-members{
    text-align: center;
}

