.description{
    text-align: center;
  }

  img{
    margin: 5px;
  }

  nav{
    background-color:brown;
    margin-bottom: 0px;
    justify-content: end;
    border-bottom: solid;
  }

  p{
    margin-bottom: 3rem;
  }
  