---
site: CPSC 349 - Project 1
---

<head>
    <title>{{ title }} - {{ site }}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
        </ul>
    </nav>
    {{ content }}
    <footer>
        <hr />
        <p>
          <small>
            <a href="https://www.pexels.com" target="_blank"
              >Photos provided by Pexels</a
            >
          </small>
        </p>
      </footer>
</body>
