---
site: CPSC 349 - Project 3
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} - {{ site }}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="/bundle.css">
  </head>

  <body>
      <nav>
          <ul>
              <li><a href="/index.html">Home</a></li>
              <li><a href="/about-us">About Us</a></li>
          </ul>
      </nav>
      {{ content }}
      <footer>
          <p>
            <small>
              <a href="https://www.pexels.com" target="_blank"
                >Photos provided by Pexels</a
              >
            </small>
          </p>

          <p>Copyright © 2023</p>
        </footer>
  </body>
</html>

